#globe-graphic-container
	position relative

h1
	font-family $benton

.intro
	font-family Helvetica, Arial, sans-serif
	line-height 1.5em
	margin-bottom 1em

.g-huts-online-box
	text-shadow black 0px 0px 1px
